[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "==0.5.3"
twine = "==1.12.1"
flake8 = "*"
codecov = "*"
coverage = "*"

[packages]
slacker = ">=0.7.3,<=0.9.65"
six = "==1.11.0"

[requires]
python_version = "3.6"
